{% extends "base.html" %} {% block content %}
<h1>Список работ</h1>
{% if current_user.is_authenticated %}
<a href="jobs" class="btn btn-secondary">Добавить информацию о работе</a>
{% endif %} {% for item in jobs %}
<div class="col-md6 border rounded">
  <br />
  <h2>Action #{{ item.id }}</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Title of activity</th>
        <th scope="col">Team leader</th>
        <th scope="col">Duration</th>
        <th scope="col">List of collaborators</th>
        <th scope="col">is finished</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ item.job }}</td>
        <td>{{ item.user.name }} {{item.user.surname}}</td>
        <td>{{ item.work_size }}</td>
        <td>{{ item.collaborators }}</td>
        <td>{{ item.is_finished }}</td>
      </tr>
    </tbody>
  </table>
  {% if current_user.is_authenticated %}
  <div>
    <a href="/jobs/{{ item.id }}" class="btn btn-warning"> Изменить </a>
    <a href="/jobs_delete/{{ item.id }}" class="btn btn-danger"> Удалить </a>
  </div>
  {% endif %}
</div>
{% endfor %} {% endblock %}
